.item{
    margin: 18px 0px;
}
.main-img{
    margin: 60px auto 20px;
    width: 70%;
}
.background-image {
  --background: url('/assets/wallpaper1.png') no-repeat center center / cover;
}
.title{
  align-content: center;
  text-align: center;
  font-weight: 700;

}
