<ion-header>
  <ion-toolbar>
    <ion-title>Usuarios</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="principal"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-header class="d-flex-between">
    <ion-label>
      <h3>Hola, {{user.name}}</h3>
      <h1>Buenos dias!</h1>
    </ion-label>
    <ion-avatar  (click)="presentClosePopover($event)" style="cursor: pointer;" class="icon-profile" *ngIf="userProfile">
      <img alt="Imagen" [src]="userProfile" />
    </ion-avatar>
    <ion-popover  #popover triggerAction="hover" (didDismiss)="isClosePopoverOpen = false" [isOpen]="isClosePopoverOpen">
      <ng-template>
        <ion-content style="cursor: pointer;" class="ion-padding" (click)="closeSession()">Cerrar sesion!</ion-content>
      </ng-template>
    </ion-popover>
  </ion-header>

  <ion-label>
    <h1 class="sub-title">Gestión de Usuarios</h1>
  </ion-label>

  <ion-list>
    <ion-reorder-group [disabled]="false" (ionItemReorder)="handleReorder($any($event))">
      @for (user of users; track $index) {
        <ion-item>
          <ion-avatar slot="start">
            <img alt="Silhouette of a person's head" src="/assets/avatar.svg" />
          </ion-avatar>
          <ion-label>
            <h3>{{user.name}}</h3>
            <h3>{{user.email}}</h3>
            <h3 class="rol">{{"Rol: " + user.rol}}</h3>
          </ion-label>
          <ion-icon slot="end" name="trash" style="color: red;" (click)="delUser(user.id_user)"></ion-icon>
          <ion-icon slot="end" name="create" style="color: green;" (click)="updateUser(user)"></ion-icon>
        </ion-item>
      }
    </ion-reorder-group>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openCreateUserModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
