.main-img{
  text-align: center;
  margin: 0 auto;
}
.background-image {
  --background: url('/assets/footerwallpaper.png') no-repeat center center / cover;
}

.colorbar{
  background-color: #f5ad27;
}
